@model KurumsalWeb2.Models.Model.Iletisim
 
@{ 
    Layout = null;
}

<div class="col-lg-3 col-md-6 footer-contact">
    <h4>Adres</h4>
    <p>
        @Model.Adres <br>

        <strong>Tel:</strong> @Model.Telefon<br>
        <strong>Whatsapp:</strong> @Model.Whatsapp<br>
        <strong>Fax:</strong>@Model.Fax <br>
    </p>

</div>