@model IEnumerable<KurumsalWeb2.Models.Model.Slider>
@{
    Layout = null;

}

<div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

    <!-- Slide 1 -->
    @foreach (var item in Model)
    {


    <div class="carousel-item active">
        <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown"><span>@item.Baslik</span></h2>
            <p class="animate__animated animate__fadeInUp">@item.Aciklama</p>
            <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
        </div>
    </div>

    <!-- Slide 2 -->
    
    }

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
    </a>

</div>










